
.DS_Store
.vscode/

DerivedData/
build/
Build/

*.xcworkspace
*.xcuserstate
*.xcuserdata/

.build/
Package.resolved
.swiftpm/

*.app
*.ipa
*.dmg
*.zip

*.xcuserdatad
*.moved-aside

Scripts/create_dmg.sh
Scripts/generate_appcast.sh
ComfyNotchUpdates/
Videos/
Traces/
diff.txt
todo.md
buildServer.json
web/
